<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="lumbricusConfig" type="TwoWholeWorms.Lumbricus.Shared.LumbricusConfiguration, LumbricusShared" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" /> 
    </configSections>
    <connectionStrings> 
        <add name="LumbricusContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
        <add name="InfoContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
        <add name="MugshotsContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
    </connectionStrings>
    <lumbricusConfig>
        <plugins>
            <plugin name="MugshotsPlugin" enabled="false">
                <settings>
                    <add name="LargeImageBaseUri" value="https://lumbricus.twowholeworms.com/images/mugshots/large/" />
                    <add name="LargeImageBasePath" value="/www/vhosts/lumbricus.twowholeworms.com/public/images/mugshots/large/" />
                    <add name="ThumbnailBaseUri" value="https://lumbricus.twowholeworms.com/images/mugshots/thumb/" />
                    <add name="ThumbnailBasePath" value="/www/vhosts/lumbricus.twowholeworms.com/public/images/mugshots/thumb/" />
                    <add name="OriginalBaseUri" value="https://lumbricus.twowholeworms.com/images/mugshots/orig/" />
                    <add name="OriginalBasePath" value="/www/vhosts/lumbricus.twowholeworms.com/public/images/mugshots/orig/" />
                </settings>
            </plugin>
            <plugin name="BotBanPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="BanInfoPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="HelpPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="InfoPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="IrcLogPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="SearchLogPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="SeenPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="TrackBanPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="TrackKickPlugin" enabled="false">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
            <plugin name="TrackUserPlugin" enabled="true">
                <settings>
                    <add name="Placeholder" value="true" />
                </settings>
            </plugin>
        </plugins>
    </lumbricusConfig>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/Lumbricus.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="logfile" />
            <logger name="*" minlevel="Debug" writeTo="console" />
        </rules>
    </nlog>
    
    
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework></configuration>