<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="lumbricusConfig" type="TwoWholeWorms.Lumbricus.Shared.LumbricusConfiguration, LumbricusShared" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" /> 
    </configSections>
    <connectionStrings> 
        <add name="LumbricusContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
        <add name="InfoContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
        <add name="MugshotsContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
        <add name="IrcLogContext" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.01;Database=lumbricus;User ID=lumbricus;Password=lumbricus;Pooling=false" /> 
    </connectionStrings>
    <lumbricusConfig>
        <plugins>
            <plugin name="AutoRejoinPlugin" enabled="true" />
            <plugin name="BotBanPlugin" enabled="false" />
            <plugin name="BanInfoPlugin" enabled="false" />
            <plugin name="HelpPlugin" enabled="true" />
            <plugin name="InfoPlugin" enabled="true" />
            <plugin name="IrcLogPlugin" enabled="true" />
            <plugin name="MugshotsPlugin" enabled="true" />
            <plugin name="SearchLogPlugin" enabled="false" />
            <plugin name="SeenPlugin" enabled="true" />
            <plugin name="TrackBanPlugin" enabled="false" />
            <plugin name="TrackKickPlugin" enabled="false" />
            <plugin name="TrackUserPlugin" enabled="true" />
        </plugins>
    </lumbricusConfig>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/Lumbricus.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
    <entityFramework>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
        </providers>
    </entityFramework>
</configuration>
